/.vscode
/app
/Blackjack
/CalenderApp
/Chess.py
/Counting
/Extension
/FakeNewsML
/get-pip.py
/HabitTracker
/HabitTracker.zip
/Planets
/plant.png
/plant.png~
/plant2.png
/Pomodoro City
/Pomodoro City.zip
/reading-time
/Schedule
/SimpleLogin
/SpendingApp
/TicTacToe.py
/TicTacToeReact